aside {
    flex: 0 1 25rem;

    border: 1.25rem solid var(--shape-background);
    border-radius: 1.25rem 0 0 1.25rem;
    border-right: none;

    background: var(--shape-background);

    .aside__container {
        position: sticky;
        top: 1.25rem;

        & > img {
            width: 100%;
            object-fit: cover;

            border-radius: .75rem;
        }

        .aside__information {
            position: absolute;
            margin: 2rem 2rem 0;

            h1 {
                margin-block: 1rem .25rem;

                font: var(--logo-font);
                color: var(--pink);
            }

            p {
                font: var(--body-md);
                font-weight: 300;
                color: var(--text-heading);
            }
        }
    }
}