main {
    flex: 0 1 53.75rem;

    border: 1.25rem solid var(--shape-background);
    border-radius: 0 1.25rem 1.25rem 0;

    background: var(--shape-background);

    & > .main__container {
        height: 100%;
        background: var(--shape-body);

        border-radius: .75rem;
        padding: 5rem 8.125rem;

        & > h2 {
            font: var(--heading-md);
            color: var(--text-heading);
            margin-bottom: 2.5rem;
        }

        & > fieldset {
            border: none;

            & > legend {
                display: flex;
                gap: .75rem;
                
                font: var(--heading-sm);
                color: var(--text-heading);

                margin-bottom: 1.5rem;
            }
        }
    }
}