main {
    padding: 0 2.25rem 2.75rem 2.25rem;
    margin-top: 5.625rem;
    gap: 6.75rem;

    &>#info {
        width: 100%;
        max-width: 32rem;
        margin-inline: auto;

        gap: 2.375rem;

        &>.title {
            &>span {
                font: var(--overline);
                color: var(--gradient-content);
            }

            &>h1 {
                font: var(--display-lg);
                color: var(--content-primary);
            }
        }
    }

    & .faq {
        gap: 2.25rem;

        & img {
            width: 1.25rem;
            height: 1.25rem;
        }

        & .question {
            font: var(--paragraph-md);
            color: var(--content-brand);
        }

        & .answer {
            font: var(--paragraph-sm);
            color: var(--content-secondary);
        }
    }

    &>#raffle {
        width: 100%;
        max-width: 30.125rem;
        margin-inline: auto;

        gap: 2.5rem;
    }
}

@media (width < 37.5rem) {
    main {
        margin-top: 2.875rem;
        gap: 2.625rem;

        &>#info {
            &>.title h1 {
                font: var(--display-md);
            }
        }

        &>.faq {
            margin-top: 2.375rem;
        }
    }
}