@media (width < 43.75rem) {
    .logo {
        position: relative;
        width: fit-content;
    }
    .container {
        padding: .75rem 1.25rem;

        & > header {
            flex-direction: column;
            align-items: flex-start;

            & input {
                margin-top: .75rem;
            }
        }
    }
    .new-appointment-container {
        position: static;

        display: flex;
        justify-content: center;
        background-color: var(--background-tertiary);

        padding: 1.125rem 1.25rem;
        margin-top: 2.75rem;
    }
    #schedule-modal form {
        margin-block: 4.75rem 2.5rem;
    }
    .appointment-date {
        flex-direction: column;
    }
}

@media (height < 56.25rem) {
    #schedule-modal form {
        max-height: 85vh;
    }
}