.container {
    max-width: 54.438rem;
    margin-inline: auto;

    padding: 5rem;
}

.none {
    display: none;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.gap-025 {
    gap: .25rem;
}

.gap-075 {
    gap: .75rem;
}

.gap-1 {
    gap: 1rem;
}

.fixed {
    position: fixed;
}
