#weekly_top {
    & > div:not(.section_heading) {
        padding-block: 1.5rem;

        & figure {
            position: relative;

            & span {
                position: absolute;
                top: .5rem;
                left: .5rem;
            }

            & h2 {
                font: var(--heading2);
                color: var(--text-color-primary);
            }
        }
    }
}