button.primary {
    background-color: var(--color-brand);
    -webkit-transition: .25s background-color ease;
    -o-transition: .25s background-color ease;
    transition: .25s background-color ease;

    color: var(--always-white);
    font: var(--label);

    padding: .75rem 1.5rem;
    border: none;
    border-radius: .75rem;

    cursor: pointer;

    &:hover {
        background-color: var(--color-brand-hover);
    }
}

@media (width < 37.5rem) {
    button.primary {
        width: 100%;
    }
}