body>main {
    &>a {
        font: var(--link);
        color: var(--color-brand);
    }

    &>h1 {
        font: var(--title);
        color: var(--content-primary);
        margin-block: 1rem 2.75rem;
    }

    & .items-list {
        margin-block: 2.5rem 2.25rem;

        & li {
            padding: .5rem .75rem;
            background-color: var(--background-secondary);
            
            display: -webkit-box;
            
            display: -ms-flexbox;
            
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            gap: .75rem;

            & span {
                -webkit-box-flex: 1;
                    -ms-flex: 1;
                        flex: 1;
                color: var(--content-secondary);
                font: var(--paragraph);
            }

            & button {
                border: none;
                background: none;
                padding: .5rem;

                cursor: pointer;

                display: -ms-grid;

                display: grid;
                place-items: center;
            }
        }
    }
}