.container {
    max-width: 39rem;
    margin-inline: auto;

    -webkit-box-sizing: content-box;

            box-sizing: content-box;
    padding-inline: 2rem;
}

.grid {
    display: -ms-grid;
    display: grid;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.none {
    display: none;
}

.place-center {
    place-items: center;
}

.flex-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.gap-1 {
    gap: 1rem;
}

.gap-075 {
    gap: .75rem;
}

.gap-05 {
    gap: .5rem;
}
