main {
    width: 100%;

    & .main-container {
        max-width: 41rem;
        margin-left: auto;

        & > div:first-child {
            & h2 {
                margin-block: 1.5rem .5rem;

                font: var(--subtitle);
                color: var(--text-primary);
            }
        }
    }
}